@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@513&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {


  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}

/* shared styles */
.display-flex {
  display: flex;
}

.btn-primary {
  border-radius: 8px;
  background: rgb(255, 144, 14);
  width: 180px;
  height: 64px;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
}

main {
  max-width: 1440px;
  margin: 0 auto;

}


/* header styles */
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}




/* navbar styles */
/* dark 02 */
.text-gray {
  color: rgb(66, 66, 66);
}

/* dark 01 */
.text-light-gray {
  color: rgb(114, 114, 114);
}

/* navbar */
.navbar {
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-weight: 700;
  font-size: 3rem;
}

.nav-item {
  list-style: none;
  margin-right: 30PX;

}

.nav-link {
  text-decoration: none;
  font-weight: 500;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

/* banner related styles */
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title {
  font-weight: 700;
  font-size: 4rem;
}

.banner-description {
  color: rgb(114, 114, 114);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}

/* this is main section */
/* .our-features{
  display: grid;
  align-items: center;
  justify-content: center; 
   margin: 0 auto;
} */
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.teams {
  align-items: center;
  justify-content: center;
  margin-top: 85px;
  /* margin: 0 auto; */
}

.our-features {
  margin-left: 74px;
}



.feature-description {
  color: rgb(114, 114, 114);
  font-family: Work Sans;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px
}

.span {
  color: rgb(255, 144, 14);
  font-family: Work Sans;
  font-size: 3rem;
  font-weight: 700;
  line-height: 53px;
}

.of {
  font-family: Work Sans;
  font-size: 3rem;
  font-weight: 700;
  line-height: 53px;
  color: rgb(19, 19, 19);
}

.Quick {
  font-family: Work Sans;
  font-size: 3rem;
  font-weight: 700;
  line-height: 53px;
  color: rgb(19, 19, 19);

}

/* lovely and quick section */
.some-facts {
  font-size: 3rem;
  font-weight: 700;
}

.facts-container {
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.section {
  color: rgb(19, 19, 19);
  font-family: Work Sans;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: 0%;
}

.text-light-gray {
  color: rgb(114, 114, 114);
  font-family: Work Sans;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
}

.footer-container {
  /* background-color: #f7f7f7; */
  text-align: center;
  margin-top: 180px;
  padding: 30px;

}

.footer-img-container {
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;

}

.footer-img-container>img {

  /* width: 45.22px;
  height: 45.22px; */
}

.Sponspors-title {
  font-size: 3rem;
  font-weight: 400;
}

.fact-icon {
  width: 80.11px;
  height: 80.1px;

}

.footer {
  width: 1440px;
  height: 100px;
  border-radius: 8px;
  background: rgb(255, 244, 231);
  margin-top: 141px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  margin-top: 50px;
}

















@media screen and (max-width: 576px) {

  .navbar,
  .nav-links {
    flex-direction: column;
  }

}